body {
    margin: 0;
    padding: 0;
    background-color: #bbbbc9;
}
a {
    text-decoration: none;
}
nav a {
    color: #71399e;
}
header {
    display: flex;
    height: 45px;
    border: 1px solid #71399e;
}
nav {
    margin-left: 70%;
    margin-top: 10px;
}
.logo {
    margin-left: 50px;
    margin-top: 10px;
}
.circle {
    border: 1.5px solid #71399e;
    width: 40px;
    height: 40px;
    border-radius: 2em;
    margin: -2.8% 0 0 45%;
    z-index: 10000;
}
.circle p {
    margin: 10px 0 0 7px;
}
.containerForPersonItem {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.addedItem {
    border: 1px solid #71399e;
    width: 200px;
    height: 300px;
    margin: 50px 0 0 50px;
    background: linear-gradient(to bottom, #171764, #8b7a8b);
    color: #ccc9cc;
}
.firstModal, .secondModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}
.modal1Content, .modal2Content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 15%;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.chosenPicture, .chosenDescription {
    padding-bottom: 30px;
}
.sumbit {
    margin-top: 30px;
}
.description {
    word-wrap:break-word;
}
.openModalWithMoreDescription, .deleteButton {
    background-color: #a8a2a8;
    color: #eedcee;
}
.modal1Content {
    background: linear-gradient(to bottom, #292983, #8b7a8b);
    color: #00000e;
}
.modal2Content {
    color: #554755;
}
.chosenDescription, .miniDescription, .chosenCost, .sumbit, .chosenImg {
    background: #6060bd;
    border-radius: 1em;
}
.modal1Content h3 {
    color: #0c0c2c;
}
.img {
    width: 200px;
    height: 150px;
}
.danger {
    border-color: red;
}

@media screen and (max-width: 425px) {
    nav, .containerForPersonItem {
        overflow: hidden;
    }
    .containerForPersonItem {
        grid-template-columns: 1fr;
    }
    .circle {    
        margin: -10.5% 0 0 45%;
    }
    .modal1Content, .modal2Content {
        width: 50%;
        margin-top: 25px;
    }
    .logo {
        white-space: nowrap;
    }
    nav {
        margin-left: 30%;
    }
    .addedItem {
        margin-left: 25%;
    }
    .modal2Content {
        margin-top: 35%;
    }
}
@media screen and (max-width: 375px) {
    .circle {
        margin: -12% 0 0 45%;
    }
}
@media screen and (max-width: 340px) {
    .circle {    
        margin: -14% 0 0 45%;
    }
    .logo {
        margin-left: 15px;
    }
    nav a {
        white-space: nowrap;
    }
    nav {
        margin-left: 20%;
    }
    .addedItem {
        margin-left: 19%;
    }
}
